.root {
	position: absolute;
	left: 0;
	top: 0;

	display: flex;

	width: 100%;
	height: 100%;

	flex-direction: column;
	justify-content: center;
	align-items: center;

	.logo {
		height: 25vmin;
		pointer-events: none;
	}

	.link {
		color: #ff7f2a;
	}
}
