@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html {
	color: #e0e0e0;
	font-size: calc(10px + 2vmin);
	font-family: 'Nunito', sans-serif;
	font-weight: 600;

	background-color: #333333;
}
